<!DOCTYPE html>
<html lang="en">
    {{> com/xyphias/photobook/views/header title="Add a photo"}}
    <body>
        <div class="container">
            <h2>Add a photo</h2>

            <div class="container">
                <form method="post">
                    <div class="row"><label for="title">Title:</label><input type="text" name="title" id="title" /></div>
                    <div class="row"><label for="url">URL:</label><input type="text" name="url" id="url" /></div>
                    <div class="row"><label for="taken-on">Taken on:</label><input type="datetime-local" name="taken-on" id="taken-on"/></div>
                    <div class="row"><label for="notes">Notes:</label><textarea name="notes" id="notes"></textarea></div>

                    <div class="row">
                        <div class="row">
                            <div class="col-md-4 row gy-3 float-end"><input type="submit" name="submit" value="Add photo" /></div>
                        </div>
                    </div>
                </form>
            </div>

            {{> com/xyphias/photobook/views/footer}}
        </div>
    </body>
</html>
