<!DOCTYPE html>
<html lang="en">
    {{> com/xyphias/photobook/views/header }}
    <body>
        <h2>Add a photo</h2>
        
        <form method="post">
            <label for="title">Title:</label><input type="text" name="title" id="title" />
            <label for="url">URL:</label><input type="text" name="url" id="url" />
            <input type="submit" name="submit" value="Add photo" />
        </form>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
                crossorigin="anonymous">
        </script>
    </body>
</html>
