<!DOCTYPE html>
<html lang="en">
    {{> com/xyphias/photobook/views/header title="Your photos"}}
    <body>
    <div class="container">
        <h2>You have not added any photos</h2>
        
        {{> com/xyphias/photobook/views/footer}}
    </div>
    </body>
</html>
