<!DOCTYPE html>
<html lang="en">
    {{> com/xyphias/photobook/views/header title="Photo not found"}}
    <body>
        <div class="container">
            <h2>This photo could not be found</h2>
    
            {{> com/xyphias/photobook/views/footer}}
        </div>
    </body>
</html>
