<!DOCTYPE html>
<html lang="en">
    {{> com/xyphias/photobook/views/header title=title}}
    <body>
        <h2>{{title}}</h2>
        <img src="{{url}}" />

        <p id="taken-on">{{takenOn}}</p>

        <div id="notes">
            {{notes}}
        </div>

        {{> com/xyphias/photobook/views/footer}}
    </body>
</html>
