<!DOCTYPE html>
<html lang="en">
    {{> com/xyphias/photobook/views/header title=title}}
    <body>
        <div class="container">
            <h2>{{title}}</h2>

            <div class="container">
                <div class="row"><img src="{{url}}" /></div>

                <div class="row"><p id="taken-on">{{takenOn}}</p></div>

                <div class="row">
                    <div id="notes">
                        {{notes}}
                    </div>
                </div>
            </div>
            {{> com/xyphias/photobook/views/footer}}
        </div>
    </body>
</html>
